<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Login
        {% endblock %}
    </title>
</head>
<body>
{% block content %}

    <h1>Login....</h1>
    <br>
     <div class="form-group">
        <form method="post">
            {% csrf_token %}

              <div class="form-group">

                <input type="text" class="form-control" name="username" placeholder="Username">

              </div>
              <div class="form-group">

                <input type="password" class="form-control" name="password" placeholder="password">


              </div>
              <br>
            <button class="btn btn-info">Login</button>
        </form>
     </div>
<br><br>
Not Registered?<a href="{%url 'register' %}"> Sign Up.. </a>

{% endblock %}
</body>
</html>

